# =========================
# .NET
# =========================

bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core
appsettings.Development.json

# =========================
# Node / React
# =========================

node_modules/
dist/
build/
.next/
.nuxt/
.output/

# Environment variables
.env
.env.*
!.env.example

# Local authentication cookies
*.cookies
cookies.txt

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log
logs/

# =========================
# IDE
# =========================

.idea/

# =========================
# Test / Coverage
# =========================

coverage/
TestResults/

# =========================
# Local database / Docker
# =========================

*.db
*.sqlite
*.sqlite3s